<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="assign_customer" instance="AWstreams\Marketplace\Observer\ProductSaveAfter" />
    </event>
   <!-- <event name="sales_order_place_after">
        <observer name="assign_commission_and_salepervendor" instance="AWstreams\Marketplace\Observer\AfterPlaceOrder" />
    </event>-->
    <event name="checkout_submit_all_after">
        <observer name="checkout_onepage_controller_success_action_commission_and_salepervendor" instance="AWstreams\Marketplace\Observer\AfterPlaceOrder" />
    </event>
</config>