<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Controller\AbstractAccount"
                type="AWstreams\Marketplace\Controller\AbstractVendor" />


    <type name="AWstreams\Marketplace\Plugin\Customer\Vendor">
        <arguments>
            <argument name="allowedActions" xsi:type="array">

            </argument>
        </arguments>
    </type>

    <type name="AWstreams\Marketplace\Controller\AbstractVendor">
        <plugin name="vendor_account" type="AWstreams\Marketplace\Plugin\Customer\Vendor" />
    </type>
    
</config>